
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #17a2b8;
    color: #fff;
}
/* Make Select2 behave like Bootstrap inputs inside input-group */
.input-group .select2-container {
    flex: 1 1 auto !important;
    width: 1% !important;
}

.select2-container .select2-selection--single {
    height: 38px !important; /* same as .form-control height */
    line-height: 38px !important;
    padding: 6px 12px !important;
}

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

/* make BS stepper responsive */
/* Make stepper header scrollable on small screens */
.bs-stepper-header {
  display: flex;
  flex-wrap: nowrap; /* keep in single row */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.brand-image {
  max-height: 52px !important;
  width: 89%;
}

.brand-link .brand-image {
  float : none;
}

.select2-container.is-invalid .select2-selection {
    border-color: #dc3545;
}

.select2-container.is-valid .select2-selection {
    border-color: #28a745;
}

select.is-valid {
    border-color: #28a745;
}

select.is-invalid {
    border-color: #dc3545;
}

/* .icheckbox.is-invalid .iCheck-helper {
    background-color: #ffe6e6;
    border: 1px solid red;
    border-radius: 50%;
}

.icheckbox.is-valid .iCheck-helper {
    background-color: #e6ffe6;
    border: 1px solid green;
    border-radius: 50%;
} */

.icheckbox.is-invalid > input:first-child:not(:checked):not(:disabled) + label::before,
.icheckbox.is-invalid > input:first-child:not(:checked):not(:disabled) + input[type="hidden"] + label::before {
    border: 1px solid red;     /* red border */
    border-radius: 50%;
}

.scrollery {
    max-height: 60vh;   /* at most 60% of viewport height */
    overflow-y: auto;
}

.btn-outline-df {
        /* background-color: #baa360; */
    border-color: #baa360;
    color: #baa360;
}

.btn-outline-df:hover {
    background-color: #baa360;
    border-color: #baa360;
    color: white;
}

.btn-df {
    background-color: #baa360;
    border-color: #baa360;
    color: white;
}


.btn-outline-maroon {
        /* background-color: #baa360; */
    border-color: #de3d78;
    color: #de3d78;
}

.btn-outline-maroon:hover {
    background-color: #de3d78;
    border-color: #de3d78;
    color: white;
}

.btn-maroon {
    background-color: #de3d78;
    border-color: #de3d78;
    color: white;
}

.btn-outline-lightblue {
        /* background-color: #baa360; */
    border-color: #599ec6;
    color: #599ec6;
}

.btn-outline-lightblue:hover {
    background-color: #599ec6;
    border-color: #599ec6;
    color: white;
}

.btn-lightblue {
    background-color: #599ec6;
    border-color: #599ec6;
    color: white;
}

[class*=icheck-]>input:first-child:disabled+label,.vcDoc>input:first-child:disabled+label, .vcDoc>input:first-child:disabled+label::before {
    pointer-events: none;
    cursor: default;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1.65 !important;
}


.signature {
    position: absolute;
    cursor: move;
    width: 100px;
    z-index: 10;
}

.signature::after {
    content: '×';
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    cursor: pointer;
}

.fixed-top {
    position: sticky !important;
}

.asterisk::after {
  content: " *";
  color: red;
  font-weight: bold;
}


/* Shrink circle and label on small devices */
@media (max-width: 768px) {
  .bs-stepper .bs-stepper-circle {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }
  .bs-stepper .bs-stepper-label {
    font-size: 0.8rem;
  }
  .bs-stepper .line {
    flex-grow: 1;
  }
}
.documentpreview{
    max-height: 72px;
     border: 1px solid #ddd;
     border-radius: 4px;
     width: 70px;
     height: auto;
}
.price-badge-df {
    display: inline-block;
    background-color: #baa360;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}


.price-badge-df::after {
    content: '';
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #baa360

}

.price-badge-ff {
    display: inline-block;
    background-color: #da5d17;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}


.price-badge-ff::after {
    content: '';
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #da5d17;

}
.agreement-accordion{
background-color: rgb(207, 226, 255);
}
.badge-df{
  background-color: #baa360;
  color: white;
}
.badge-ff{
background-color: #dc6a20;
color: white;
}
.content-wrapper .main-content{
    width: fit-content !important;
}
.dataTables_paginate .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }
@media (max-width : 350px) {
    .dataTables_filter label {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


}
/* @media (max-width: 768px) {
    .content-wrapper,
    .content,
    .container-fluid {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .dataTables_filter label {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
} */
.linkhover {
    color: #212529;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.linkhover:hover {
    color: #007bff; /* Bootstrap primary blue */
    text-decoration: underline; /* optional */
}
.vendorformh6{
    text-decoration: underline;
}
.bg-ffred{
    color: rgb(91 134 229);
}
.bg-greendf {
    color: #88ccc6 ;
}
.bg-yellowIn {
    color: rgba(255, 193, 7, 0.75) ;
}
/* Projects */
.bg-gradient-projects {
    background: linear-gradient(135deg, #36d1dc, #5b86e5) !important;
    color: #fff;
}

/* Investors */
.bg-gradient-investors {
    background: linear-gradient(135deg, #11998e, #38ef7d) !important;
    color: #fff;
}

/* Investments */
.bg-gradient-investments {
    background: linear-gradient(135deg, #f7971e, #ffd200) !important;
    color: #fff;
}

/* Revenue */
.bg-gradient-revenue {
    background: linear-gradient(135deg, #ff416c, #ff4b2b) !important;
    color: #fff;
}

/* Improve icon visibility */
.small-box .icon {
    color: rgba(255, 255, 255, 0.35);
}

#global-loader {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    color: #baa360;
    /* background: transparent; */
    z-index: 999999;
    display: none;

    /* Center content */
    display: flex;
    align-items: center;
    justify-content: center;
}

#global-loader img {
    width: 118px;
    height: auto;
}


/* Data table export button respponsive fix */


.dt-buttons  {
    width: auto !important;
}

.closebtn:focus,
.closebtn:focus-visible {

    outline-offset: 2px !important;
    box-shadow: none !important;
        background: #b9bec2;
}

.savebtninfo:focus{
    background-color: #0d6371;
}
/* .dataTable.table thead tr {
    background: linear-gradient(287deg, #fff .54%, #e7e0ca 100.84%) !important;
} */
.wrapper {
    overflow-x: auto !important;
}


@media (max-width: 768px) {
    .user-management{
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
        min-width: 100%;
    }
}
.small-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.login-bg {
    position: relative;
    /* background: url('../images/fama-ba.png') center/cover no-repeat; */
    background: url('../images/bg.png') center/cover no-repeat;

    height: 100vh;
}


.login-bg::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #080808ba;
    z-index: 1;
}


.login-bg > * {
    position: relative;
    z-index: 2;
}
/* Input fields */
.login-input,
.login-input .form-control,
.login-input:focus,
.login-input:hover,
.login-input:active {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
    box-shadow: none !important;
}

/* Placeholder text */
.login-input::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

/* Input group icons */
.login-input-group {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
    box-shadow: none !important;
}


/* .login-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
} */
.signinbtn{
    /* border: 1px solid rgba(255, 255, 255, 0.774) !important; */
    color: #fff !important;
    /* background-color: #baa360 !important; */
    background: linear-gradient(90deg, #baa360 0%, #d4bf7a 100%) !important;

}
.signinbtn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* horizontal, vertical, blur, color */
    color: #fff !important;
}
.textfama{
    color:#fff;
}
.textfama:hover{
    color:#cdad50;

}
.login-card{
    background: #00000057 !important;
}

.sidebar-newColor{
    background-color: #021435;
}





